$Background-Color: rgb(222, 244, 228);

div {
  display: block;
}

.App {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  background-color: $Background-Color;
}

.home-wrapper {
  width: 100%;
  display: grid;
  text-align: center;
  .welcome-text {
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3.6rem;
  }
  .welcome-info {
    display: flex;
    margin: auto auto;
    padding: 0.3rem;
    justify-content: center;
    font-size: 1.4rem;
  }
}

.SearchWrap-big {
  height: 3.4rem;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.SearchWrap {
  height: 3.4rem;
  width: 100%;
  line-height: 3.4rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.SearchForm,
.SearchInput {
  height: 100%;
  border: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.alkoChart {
  width: auto;
}

.alko-chart {
  display: block;
  height: 9rem;
}

.alko-circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.alko-circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  stroke: #ff9f00;
  animation: progress 1s ease-out forwards;
}

.alko-percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.about-wrapper {
  display: grid;
  justify-content: center;
  margin: auto auto;
  b {
    font-size: 1.8rem;
  }
  p {
    text-align: center;
  }
  li {
    margin-top: 0.4rem;
  }
}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media only screen and (max-width: 860px) {
  .welcome-text {
    p {
      font-size: 3rem;
    }
  }
  .welcome-info {
    p {
      font-size: 0.8rem;
    }
  }
  .SearchInput {
    font-size: 1.1rem;
  }
}
