$Background-Color: rgb(222, 244, 228);

.App {
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $Background-Color;
}

.home-wrapper {
  display: grid;
  text-align: center;
  justify-content: baseline;
  .welcome-text {
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3.6rem;
  }
  .welcome-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.4rem;
  }
}

.SearchResults {
  display: grid;
  justify-content: center;
  row-gap: 0.9rem;
  padding: 3rem;
}

.SearchWrap-big {
  height: 90px;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.SearchWrap {
  height: 3.4rem;
  width: 100%;
  line-height: 3.4rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

}

.SearchForm, .SearchInput {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 3.4rem;
}

.productCard {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  align-items: center;
  padding: 1.7rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  border-color: #666;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #fafafa;
  p {
    margin: 0.2rem;
  }
}

.nameData {
  display: grid;
  .infoData {
    margin: 0;
    display: flex;
    justify-items: start;
    font-size: 0.8rem;
  }
}

.priceData {
  display: grid;
  grid-template-columns: auto auto;
}

.productImage {
  text-align: center;
  img {
    max-width: auto;
    max-height: 9rem;
  }
}

.alkoChart {
  width: auto;
}

.alko-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 100px;
}

.alko-circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.alko-circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  stroke: #ff9f00;
  animation: progress 1s ease-out forwards;
}

.alko-percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  b {
    font-size: 1.8rem;
  }

}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


